.main .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: unset;
}

.profile-left {
    padding: 10px;
    flex: 30%;
}

.profile-right {
    padding: 10px;
    flex: 70%;
    text-align: justify;
}

@media (max-width: 768px) {
    .main .profile {
        flex-direction: column;
    }
}

.footer span:nth-child(2) {
    display: none;
}
