{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content profile">
        {{- if .imageUrl -}}
        <div class="profile-left">
            <img draggable="false" src="{{ .imageUrl }}" alt="profile image" title="" width="150" height="150">
            {{ partial "social_icons.html" site.Params.socialIcons }}
        </div>
        {{- end }}
        <div class="profile-right">{{ .Content | markdownify }}</div>
    </div>
</article>
{{- end -}}
