{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content profile">
        <div class="profile-left">
            <picture>
                <source srcset="profile.webp" type="image/webp">
                <source srcset="profile.jpg" type="image/jpeg">
                <img draggable="false" src="profile.jpg" alt="{{ site.Params.author }}" title="{{ site.Params.author }}" width="150" height="150">
            </picture>
            {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
        </div>
        <div class="profile-right">{{ .Content | markdownify }}</div>
    </div>
</article>
{{- end -}}
